
.buddy-speaking-container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    top: calc(-10vw - 2vh);
    left: 4vw;
    width: 90%;
    max-height: 90vh;
}


.text-balloon-inner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    rotate: 0;
    z-index: 1;
}

.balloon-context {
    position: absolute;
    top: 0;
    margin-top: 0.5vw;
    padding-top: 2vw;
    height: 80%;
    max-width: 80%;
    rotate: 0;
    font-family: var(--buddy-quote-small);
}

.balloon-context p {
    font-size: 2vw;
    line-height: 1.2vw;
}

.buddy-img-container {
    max-width: 22vw;
    position: absolute;
    top: -14vw;
    left: -10vw;
    z-index: 2;
}


@media (min-width: 576px) {

    /*.buddy-speaking-container {*/
    /*}*/

    .text-balloon-inner-wrapper {
        rotate: 0;
    }

    .balloon-context {
        top: 0;
        margin-top: 0.5vw;
        padding-top: 3vw;
        height: 80%;
        max-width: 80%;
        rotate: 0;
    }

    .balloon-context p {
        line-height: 2.2vw;
    }

    /*.buddy-img-container {*/
    /*}*/
}

@media (min-width: 992px){
    /*.buddy-speaking-container {*/
    /*}*/

    .text-balloon-inner-wrapper {
        rotate: -3deg;
    }

    .balloon-context {
        top: 0;
        margin-top: 1vw;
        max-width: 85%;
        rotate: 3deg;
        font-family: var(--buddy-quote);
    }

    .balloon-context p {
        font-size: 3.2vw;
        line-height: 3vw;
    }

    /*.buddy-img-container {*/
    /*}*/

}