/*TODO: make name and location of quote containers logical (see also BuddyWelcoming)  */

.buddy-quote-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 100%;
    width: clamp(40vw, 60vw, 1200px);
}

.buddy-quote-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    min-height: 100%;
    width: clamp(40vw, 60vw, 1200px);
    padding-top: 40px;
}

.buddy-quote-text p {
    font-family: var(--buddy-quote-small);
    line-height: clamp(1.3rem, 1.6rem, 3rem);
    font-size: clamp(0.8rem, 4vw, 1rem);
    padding: 0 2vw;
}

.button-container {
    padding-top: 0.5vw;
    padding-bottom: 1.5vw;
}


@media (min-width: 576px) {
    .buddy-quote-text {
        padding-top: 50px;
    }

    .buddy-quote-text p {
        line-height: clamp(1.1rem, 4.5vw, 1.8rem);
        font-size: clamp(0.9rem, 2vw, 2rem);
        font-family: var(--buddy-quote-small);
        padding: 0 3vw;
    }
}

@media (min-width: 992px) {
    .buddy-quote-text {
        padding-top: clamp(1.5rem, 4vw, 5rem);
    }

    .buddy-quote-text p {
        line-height: clamp(2.2rem, 3vw, 3.5rem);
        font-size: clamp(1.8rem, 2.5vw, 3rem);
        font-family: var(--buddy-quote);
    }
}