
        .buddy-speaking-container {
            display: flex;
            position: relative;
            justify-content: flex-end;
        }

        .text-balloon-wrapper {
            display: flex;
            max-width: 90vw;
            position: relative;
            left: 5vw;
            top: -6vh;
        }

        .balloon-context {
            position: absolute;
            padding-top: 10%;
            height: 100%;
            width: 100%;
            left: -4.5vw;
            font-family: var(--buddy-quote-small);
        }

        .balloon-context p {
            font-size: 90%;
            /*background-color: lightblue;*/
        }

        .buddy-img-container {
            width: calc(20vw + 5vh);
            position: absolute;
            top: -20vh;
            left: -5vw;
            z-index: 1;
        }

        @media (min-width: 576px) {
            .balloon-context p {
                background-color: blue;
            }

        }

        @media (min-width: 768px) {
            .balloon-context p {
                background-color: purple;
            }

        }

        @media (min-width: 992px) {
            .balloon-context p {
               background-color: #388E3C;
            }
        }

        @media (min-width: 1200px) {
            .balloon-context p {
                background-color:beige;
            }
        }



        @media (min-width: 1600px) {

            .buddy-speaking-container {
                display: flex;
                position: relative;
                justify-content: center;
            }

            .text-balloon-wrapper {
                display: flex;
                max-width: 50%;
                position: relative;
                left: 10vw;
                top: -4vh;
            }

            .balloon-context {
                position: absolute;
                padding-top: 9%;
                left: 0;
                height: 100%;
                width: 100%;
                font-family: var(--buddy-quote);
            }

            .balloon-context p {
                font-size: clamp(1rem, 1.5vw, 4rem);
                background-color: transparent;
            }

            .buddy-img-container {
                width: calc(20vw + 5vh);
                position: absolute;
                left: 5vw;
            }

        }

