.circle-container {
    width: 80%; /* Container breedte kan aangepast worden */
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
    white-space: nowrap; /* Zorg ervoor dat de tekst op 1 regel blijft */
    display: block;
    margin: 5px 0;
    transition: all 0.3s ease; /* Zachte overgang bij veranderen van stijl */
}