.login-outer-container{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    padding-left: 3rem;
}

.new-here-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vw;
    margin-top: 30px;
}

.login-container{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
}

.login-container button{
    margin-top: 30px;
}

.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    min-width: 100%;
    margin-bottom: 50px;
}

.register-container button {
    margin-top: 30px;
}

.error{
    color: red;
}