.login-outer-container{
    display: flex;
    /*border: solid 2px deeppink;*/
    width: 50vw;
    justify-content: space-between;
    padding-left: 3rem;
}

.new-here-button-container{
    display: flex;
    /*border: solid 2px lightseagreen;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 20vw;
}

.new-here-button{
    width: auto;
}

.login-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 3rem;
    /*border: solid 2px darkorange;*/
}

.register-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 3rem;
    /*border: solid 2px springgreen;*/
}

.error{
    color: red;
}