.show-recipe-outer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    aspect-ratio: 2/3;
    padding: 5px;
}

.image-container {
    max-width: 200px;
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.show-recipe-outer-container h2{
    font-family: var(--buddy-quote-small);
}

.show-recipe-outer-container h3{
    font-family: var(--buddy-quote-small);
    font-size:100%;
    margin-bottom: 2%;
}

.ingredients-list {
    display: flex;
    flex-direction: column;
    border: #f63b24 2px solid;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}

.show-recipe-button-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-width: 100%;
    margin-top: 20px;
}

.edit-open-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.edit-recipe-form{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.edit-button-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.edit-recipe-form button {
    align-self: flex-end;
}

