/*<CustomButton text="" color="purple/mint/blue"} />*/

.button {
    all: unset;
    font-family: var(--button-text);
    font-weight: bold;
    border-radius: 25px;
    color: lightgrey;
    display: flex;
    align-items: center;
    min-width: 5vw;
    justify-content: center;
    padding: 0.7vw 3vw;
    font-size: 2.5vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

/* Purple button */
.purple {
    background: linear-gradient(90deg, #474485 0%, #551C71 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 4px 8px #FDF8FF;
}

.purple:hover {
    background: linear-gradient(90deg, #5A4EB8 0%, #6D2A95 100%);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), inset 0 4px 12px #FFF;
    color: white;
}

/* Mint button */
.mint {
    background: linear-gradient(90deg, #3BB78F 0%, #0BAB64 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 4px 8px #E0FFF5;
}

.mint:hover {
    background: linear-gradient(90deg, #4EE0B9 0%, #11D889 100%);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), inset 0 4px 12px #FFF;
    color: white;
}

/* Blue button */
.blue {
    background: linear-gradient(90deg, #216CB8 0%, #184A8D 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 4px 8px #E0F3FF;
}

.blue:hover {
    background: linear-gradient(90deg, #2E8DEB 0%, #2065C0 100%);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), inset 0 4px 12px #FFF;
    color: white;
}

/* Red button */
.red {
    background: linear-gradient(90deg, #9E2A2F 0%, #BF5A4A 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 4px 8px #FFD8D8;
}

.red:hover {
    background: linear-gradient(90deg, #B94F4A 0%, #D26B5F 100%);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), inset 0 4px 12px #FFF;
    color: white;
}

/* Yellow button */
.yellow {
    background: linear-gradient(90deg, #FFB81C 0%, #F1A800 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 4px 8px #FFEC99;
}

.yellow:hover {
    background: linear-gradient(90deg, #FFCD47 0%, #F3C53D 100%);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), inset 0 4px 12px #FFF;
    color: white;
}

@media (min-width: 1000px) {
.button{
    font-size: 1.5vw;
    padding: 1vw 1.5vw;
    border-radius: 35px;
}
}