
.multi-select-dropdown {
    font-family: Arial, sans-serif;
    width: 200px;
    position: relative;
    /*border: 1px solid #ccc;*/
    border-radius: 8px;
    background-color: #fff;
    overflow: visible;
    border: lightpink 2px solid;
}

.dropdown-display {
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

#dropdown-arrow {
    font-size: 14px;
    color: #888;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 3px solid rgba(139, 113, 164, 0.9);
    background-color: #fff;
    z-index: 10;
    /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
}

.dropdown-options.open {
    display: block;
}

.dropdown-single-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

.dropdown-single-option:hover {
    background-color: #f1f1f1;
}

.checkbox {
    transform: scale(1.2);  /* make checkbox bigger */
}

.option-label {
    flex-grow: 1;
}
