.dashboard-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: solid 3px yellow;*/
    min-width: 65vw;
    top: -100px;
    position: relative;
}

.dashboard-outer-container h2 {
    font-family: var(--special-title);
    font-size: 4vw;
    margin-top: 3vw;
    rotate: -2deg;
}

.input-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    /*border: dashed 5px hotpink;*/
}

.input-inner-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
    padding-bottom: 5vw;
    padding-top: 18vw;
    /*border: dashed 3px brown;*/
}

.dashboard-inner-container-1 {
    display: flex;
    min-height: 35vw;
    justify-content: space-around;
    /*border: solid 3px orangered;*/
}

.dashboard-inner-container-2 {
    display: flex;
    flex-grow: 4;
    flex-direction: column;
    justify-content: space-between;
    /*border: solid 3px lightblue;*/
}

.dashboard-inner-container-3 {
    display: flex;
    flex-grow: 2;
    /*border: solid 3px #6D2A95;*/
}

.dashboard-inner-container-4 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.first-section {
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
    min-width: 55vw;
    border-radius: 20px;
    border: solid 6px dimgrey;
    background-color: var(--blue-grey);
    margin-bottom: 2vw;
}

.second-section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 1.5vw;
    padding-right: 1vw;
    margin-right: 1vw;
    border-radius: 20px;
    border: solid 6px dimgrey;
    background-color: var(--blue-grey);
}

.third-section {
    display: flex;
    /*border: solid 2px greenyellow;*/

}

.fourth-section {
    display: flex;

    border: dashed 3px white;
}

.sixth-section {
    /*border: solid 2px #11D889;*/
    flex-grow: 2;
}

.button-container{
    display: flex;
    justify-content: center;

}
