
.dashboard-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80vw;
    max-width: 600px;
    top: -5vw;
    position: relative;
    border: solid 5px yellow;
}

.dashboard-outer-container h2 {
    font-family: var(--special-title);
    font-size: 4vw;
    margin-top: 3vw;
    rotate: -2deg;
}

.input-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    border: dashed 3px crimson;
}

.input-inner-container{
    display: flex;
    min-width: 70vw;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vw;
    margin-top: 18vw;
    border: solid 4px yellowgreen;
}

.dashboard-inner-container-1 {
    display: flex;
    flex-grow: 1;
    min-width: 70vw;
    max-width: 100%;
    justify-content: space-between;
}

.dashboard-inner-container-2 {
    display: flex;
    flex-grow: 4;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-inner-container-3 {
    display: flex;
    flex-grow: 2;
    border: dashed 3px lightblue;
}

.dashboard-inner-container-4 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: dashed 3px #551C71;
}

.first-section {
    display: flex;

    font-size: 1.7vw;
    max-width: 90%;
    border-radius: 20px;
    border: solid 6px dimgrey;
    background-color: var(--blue-grey);
    margin: 1.5vw 6vw;
}

.second-section {
    display: flex;
    flex-grow: 1;
    width: 38vw;
    flex-direction: column;
    align-items: center;
    /*font-size: 1.5vw;*/
    /*padding-right: 1vw;*/
    /*margin-right: 1vw;*/
    border-radius: 20px;
    border: solid 6px dimgrey;
    background-color: var(--blue-grey);
}

.second-section button {
    max-width: 5vw;
}

.third-section {
    display: flex;
}

.fourth-section {
    display: flex;
    border: dashed 3px white;
}

.sixth-section {
    flex-grow: 2;
}

.button-container{
    display: flex;
    position: absolute;
    bottom: 2.7vw;
    left: 33vw;
    width: 14vw;
}
