.loading{
    display: flex;
    width: 100%;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
}

.loading p{
    font-size: 50px;
    font-family: var(--special-title);
    color: black;
}


.page-ready {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.page-loading {
    opacity: 0;
}
