
.book-outer-container {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.book-inner-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
}

.book-left-page, .book-right-page {
    padding: 7%;
    width: 90%;
    margin: 0 auto;
}

.book-left-page, .book-right-page {

}

.close-btn {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.buddy-welcoming-container {
    display: flex;
    justify-content: center;
    margin-top: 20vw;
    max-width: 90vw;
}

/* Mobile */
@media (max-width: 768px) {
    .recipe-list-mobile button {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.1rem;
        border: none;
        cursor: pointer;
    }

    .single-recipe-mobile {
        padding: 7%;
        width: 90%;
        margin: 0 auto;
    }

    .buddy-welcoming-container {
        display: flex;
        justify-content: center;
        margin-top: 20vw;
        min-width: 85vw;
        max-height: 100vh;
    }


}
