.book-outer-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image: url('../../assets/old-book-open.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.book-inner-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    aspect-ratio: 10 / 7;
}

.book-left-page, .book-right-page {
    flex: 1;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
}

.book-left-page {
    justify-content: flex-start;
}

.book-right-page {
    justify-content: flex-start;
}