.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85vw;
}

.header-title-img-wrapper {
    min-width: 250px;
    max-width: 50vw;
    align-self: flex-start;
    rotate: -2.5deg;
    position: relative;
    top: 1vw;
    z-index: -1;
}

.header-kitchen-img-wrapper {
    max-width: 70vw;
    position: relative;
    top: -5vw;
    left: 7vw;
    z-index: 0;
}
