.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 0;
}

.header-title-img-wrapper {
    min-width: 250px;
    max-width: 50vw;
    align-self: flex-start;
    rotate: -2.5deg;
    position: relative;
    top: calc(2vw + 1vh);
    z-index: -1;
}

.header-kitchen-img-wrapper {
    max-width: 65vw;
    position: relative;
    top: -6vw;
    left: 7vw;
    z-index: 0;
}
