.results-outer-container{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    border: dashed 2px cornflowerblue;
}

.results-container{
    background-color: lightgrey;
    display: flex;
    flex-basis: 50vw;
    flex-flow: row wrap;
    align-items: center;
    border: solid 2px orangered;
}

.result-block{
    background-color: darkseagreen;
    border: solid 1px purple;
    margin: 20px;
}

.manage-results-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightslategrey;
    border: solid 5px greenyellow;

}

.result-image{
    width: 100px;
    height: 100px;
}