@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Love+Ya+Like+A+Sister&family=Quicksand&family=The+Girl+Next+Door&family=Unkempt:wght@400;700&display=swap');

/*////////////////////////
Table of Contents
1. Global Styles
2. Typography
3. Layout
3.1 Reusables
3.2 Other
4. Media Queries
////////////////////////*/


/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

li {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
}

button {
    border: none;
}


img {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(180deg, var(--yellow-light) 30%, var(--yellow-mid) 54%, var(--yellow-dark) 100%);
    font-family: Inter, system-ui, Arial, sans-serif;;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

/* ------------------------------- 2. Typography ----------------------------------- */
:root {
    font-family: Inter, system-ui, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /*Custom Fonts*/
    --special-title: 'Love Ya Like A Sister';
    --book-list-text: 'The Girl Next Door';
    --button-text: 'Unkempt';
    --buddy-quote: 'Just Me Again Down Here';
    --buddy-quote-small: 'Quicksand';

    /**/
    --soft-pink: #EA8497;
    --buddy-lavender: #99469B;
    --purple-accent: #9D05E5;
    --royal-purple: #64178A;
    --blue-purple: #512776;
    --blue-purple-dark: #483F82;
    --darkest-blue: #0C3A59;
    --dark-blue: #11537F;
    --mid-blue: #216CB8;
    --light-blue: #6298CE;
    --accent-blue: #73CEE5;
    --blue-grey-dark: #3D6681;
    --blue-grey-light: #5787A6;


    /*Body Background colors*/
    --yellow-light: #FDCE0D;
    --yellow-mid: #FCBB15;
    --yellow-dark: #FBAA1B;

}

h1, h2 {
    font-family: var(--special-title), Merriweather, serif;
}

h3, h4, h5, h6 {
    font-family: Merriweather, serif;
}

h1, h2 {
    font-size: clamp(2rem, 6vw, 3rem);
    padding: 16px 0;
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

h4, h5, h6 {
    font-size: clamp(1.25rem, 2.5vw, 2rem);
}

p {
    font-size: clamp(0.75rem, 1.5vw, 1.2rem);;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-app-container {
    width: 100%;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.inner-page-container {
    width: 85vw;
    max-width: 1500px;
    margin: auto;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* --------------- 3.2 Other --------------------------- */


/* --------------- 4 Media Queries --------------------------- */